<!-- KaTeX 0.8.3 -->
{% if site.theme_settings.katex %}
<link rel="stylesheet" type="text/css" href="{{ site.url }}/{{ site.baseurl_root }}/assets/css/vendor/katex.min.css">
<script src="{{ site.url }}/{{ site.baseurl_root }}/assets/js/vendor/katex.min.js"></script>
{% endif %}

<!-- Google Analytics -->
{% if site.theme_settings.google_analytics %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.theme_settings.google_analytics }}"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ site.theme_settings.google_analytics }}');
</script>
{% endif %}

<!-- Jquery -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

<!-- Bootstrap -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>

<!-- Prism CSS syntax highlighter for AutoIt support -->
<script src="{{ site.url }}/{{ site.baseurl_root }}/assets/js/vendor/prism.js"></script>

<!-- FancyBox -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js"></script>

<script>
    $(document).ready(function () {
        // Enable fancybox evrywhere with this class selector
        $('.img-fancybox').each(function (index, value) {
            $(this).wrap('<a href="' + $(this).attr('src') + '" data-fancybox data-caption="' + $(this).attr('alt') + '">');
        });

        // Enable bootstrap tooltip everywhere with data-toogle attribute
        $('[data-toggle="tooltip"]').tooltip()
    });
</script>

<!-- Main JS (navbar.js, katex_init.js and masonry_init.js)-->
<script defer=true src="{{ site.baseurl_root }}/assets/js/main.min.js"></script>