<div class="share-buttons">
    <ul>
        {% if site.theme_settings.share_buttons.facebook %}
        <li>
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | prepend: site.baseurl | prepend: site.url }}&quote={{ page.title }}%20%7C%20{{ site.title }}"
               target="_blank" title="{{ site.theme_settings.str_share_on }} Facebook">
                <i class="fab fa-facebook-square fa-2x" aria-hidden="true"></i>
                <span class="sr-only">{{ site.theme_settings.str_share_on }} Facebook</span>
            </a>
        </li>
        {% endif %}

        {% if site.theme_settings.share_buttons.twitter %}
        <li>
            <a href="https://twitter.com/intent/tweet?text={{ page.title | url_encode }}%20{{ page.url | absolute_url | url_encode }}"
               target="_blank" title="{{ site.theme_settings.str_tweet }}">
                <i class="fab fa-twitter-square fa-2x" aria-hidden="true"></i>
                <span class="sr-only">{{ site.theme_settings.str_tweet }}</span>
            </a>
        </li>
        {% endif %}

        {% if site.theme_settings.share_buttons.linkedin %}
        <li>
            <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ page.url | prepend: site.baseurl | prepend: site.url }}&title={{ page.title }}%20%7C%20{{ site.title }}&summary=&source={{ page.url | prepend: site.baseurl | prepend: site.url }}"
               target="_blank" title="{{ site.theme_settings.str_share_on }} LinkedIn">
                <i class="fab fa-linkedin fa-2x" aria-hidden="true"></i>
                <span class="sr-only">{{ site.theme_settings.str_share_on }} LinkedIn</span>
            </a>
        </li>
        {% endif %}

        {% if site.theme_settings.share_buttons.email %}
        <li>
            <a href="mailto:?subject={{ page.title }}%20%7C%20{{ site.title }}&body=:%20{{ page.url | prepend: site.baseurl | prepend: site.url }}"
               target="_blank" title="{{ site.theme_settings.str_email }}">
                <i class="fa fa-envelope-square fa-2x" aria-hidden="true"></i>
                <span class="sr-only">{{ site.theme_settings.str_email }}</span>
            </a>
        </li>
        {% endif %}
    </ul>
</div>